.galleries {
    padding-top: 20px;
    > a.text-info {
        color: inherit !important;
        &:hover {
            text-decoration: none;
            color: inherit !important;
        }
    }

    .card-img-top {
        padding: 0 2px 2px 2px;
        position: relative;
    }
}
