.galleries {
    padding-top: 1.5rem;
    .gallery-container {
        padding-bottom: 1.5rem;
        a.gallery-link {
            &:hover {
                text-decoration: none;
            }
        }
    }
    .card {
        height: 100%;

        .gallery-link {
            .img-hover-zoom {
                overflow: hidden;
            }
            .img-hover-zoom img {
                transition: transform 0.5s ease;
            }

            &:hover {
                .img-hover-zoom img {
                    transform: scale(1.05);
                }
            }
        }

        .gallery-card-header {
            height: 4.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
