.preview-gallery {
    border-top: 1px solid white;
    text-align: left;
    margin-top: 10px;
    padding-top: 10px;
    > .container {
        padding-left: 0;
        padding-right: 0;
    }
}

.drag-handle {
    position: absolute;
    top: 2px;
    left: 2px;
    opacity: 0.5;
    transition: 1.3s !important;
    &:hover {
        opacity: 1;
    }
}

.set-feature-image-button {
    position: absolute;
    top: 2px;
    left: 38px;
    opacity: 0.5;
    transition: 1.3s !important;
    &:hover {
        opacity: 1;
    }
}

.remove-handle {
    position: absolute;
    top: 2px;
    right: 2px;
    opacity: 0.5;
    transition: 0.3s !important;
    &:hover {
        opacity: 1;
    }
}

.react-datepicker-wrapper {
    position: relative;
    flex: 1 1;
    .form-control.bs-date-picker {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        position: relative;
        flex: 1 1;
    }
}

.badges-cloud {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-start;
    line-height: calc(1.5rem - 2px);
    .badge {
        margin-right: 0.2rem;
    }
}
